.nav{
    background:local;
    height: 10px
}

.container-fluid{
    position:fixed;
    z-index: 1;
    border: 3px solid whitesmoke;
    background: fixed;
    background-color: white;
}

.cn{
    color:aqua;
    background: fixed;
    background-size: 200px;
}
.nav-item{
    list-style: none;
    display:block;
    padding: 20px;
}
.nav-i{
    display:inline-block;
    padding: 20px; 
}
.gray-color{
    color: gray;
}

.logo-1{
    width: 80px;
    padding: 10px;
    padding-bottom: 30px;
}


    /* section 2 (style for centered logo)*/
.logo-2{
    display:flex;
    justify-content: center;
    background-size: 4px; 
    margin-top: 2cm;
} 


    /* section 3  (style for content under centered logo)*/
.hOne{
    color: rgb(4, 207, 207);
    font-family: Courier;
    text-align: center;
   
}   
.container{
    display:flex;
    justify-content: space-evenly;
    margin-top: 2cm;
}
.container-p{
    font-size: Medium;
    color:gray;
    text-align: justify;
    justify-content: center;
    Padding: 10px;
}


    /* section 4 (style for the three cards)*/
.card-container{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 50px;
}

.green-card{
    width: 460px;
    height: 550px;
    background-color:rgb(127, 245, 205);
    
}   

.blue-card{
    width: 460px;
    height: 550px;
    background-color: blue;
    
}

.black-card{
    width: 460px;
    height: 550px;
    background-color: black;
    
}

.card-gra{
    text-align: justify;
    font-size: 3rem;
    line-height: 2;
    color: white;
    margin-left: 100px;
    margin-top: 70px;
   

}


.country{
    margin-top: 100px;
}

.choose-country{
    color: white;
    font-size: xx-large;
    text-align: center;
    margin-left: 100px;
    
}


/* section 5  (we are a global...  & it right side contents)*/
.container-2{
    display:flex;
    margin-bottom: auto;
}
.con-p{
    color:aqua;
    font-family: sofia;
    font-weight: bold;
    font-size: xx-large;
}
.nav-fl{
    color: gray;
    
}
.first-line{
    margin-bottom: 1cm;
    color: gray;

}
.r-p-text{
    color: gray;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode';
    font-size:xx-large;
    padding: 40px;   
}

.log{
    filter: grayscale(100);
    width: 60px;
    padding:10px;
    padding-bottom: 30px;

}
.change{
    color: gray;
    font-size: 25px;
}


/* section 6  (the colored part on the page)*/
.div3{
    display: flex;
    background: fixed;
    background-color: rgb(179, 230, 213);
    height: 20cm;   
    position: static;
}
.h2-div{
    color:rgb(33, 173, 127);
    font-size: xx-large;
    font-family: georgia;
    padding: 100px 0 50px 250px;
   
}
.div3-p{
   color:grey;
   padding: 5px 0 50px 250px;
   text-align: justify;
   font-size: larger;  
   position: relative;
}

h2{
    color:rgb(8, 151, 103);
    font-family: franklin gothic medium;  
}
.logo-ii{
    place-items: bottom;
    width: 700px;
    height: 390px;
    padding-left: 50px;;
}

.whites{
    display:inline-block;
    padding: 60px; 
    gap: 30px;
    padding-left: 150px;
}
.wite1{
    background-color: white;
    text-align: center;
    padding: 50px;
  
   
}

.wite2{
    background-color: white;
    text-align: center;
    padding: 50px;
    
   
}

.wite3{
    background-color: white;
    text-align: center;
    padding: 50px;
}

.wite4{
    background-color: white;
    text-align: center;
    padding: 60px;
   
}


.h4whites{
    color:aquamarine;
    justify-content: center;
    justify-items: center;
    align-items: center;
} 

.p4whites{
    color: gray;
    place-items: center;
}

    /* section 7 (contents under the colored part on the page)*/
.h3i{
    color: aqua;
    text-align:center;
    font-family: verdana;
    font-size: x-large;
    margin: 2cm 0 1cm 0;
}

p{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:medium;
    margin-top: 2cm;
}

 /* section 8  (the 8 images)*/
 .container-images{
    position: static;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    padding: 50mm;

 }
.column{
    column-gap: 40px;
}
.card{
    position:static;
    width: 350px;
    height: 450px;
    margin-bottom: 20px;
}
.card-p{
    color: grey;
    
}
.images{
    width: 350px;
    height: 350px;
}    


/* section 9 (contents under the 8 images)*/
.far-down{
    display:grid;
    place-items: center;
    padding-bottom: 80px;
}


    /* section 10  (the bottom page)*/
footer{
    background-color: white;
    padding-top: 50px;
    text-align: center;
    font-size: 15px;
    font-family: tahoma;
    color: gray;
    border: 3px solid whitesmoke;
    background-color: white;
}

.p4futer{
    font-size: small;
}
.cgh{
    position: top;
    justify-content:flex-start;   
}


